html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h3 {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudo {
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.gal {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.gal-1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: justify;
}

.footer-letra {
    color: lightcoral;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    background-color: white;
    color: lightcoral;
    width: 100%;
    margin-top: auto;
}

.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fonte {
    color: black;
    text-align: center;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
}

.form {
    font-size: 14px;
    color: black;
}

.accept {
    font-size: 15px;
    background-color: lightcoral;
    color: black;
}

label {
    font-size: 18px;
    background-color: lightcoral;
    color: black;
}

::-webkit-input-placeholder {
    color: black;
}

 :-moz-placeholder {
    color: black;
}

 ::-moz-placeholder {
    color: black;
}

 :-ms-input-placeholder {
    color: black;
}

.tabela {
    color: black;
    background-color: rgb(184, 163, 163);
}